<!-- Button trigger modal Proyectos-->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Project-edit">
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  <!-- Modal Proyectos -->
  <div class="modal fade" id="Project-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar proyecto</h5>
         <h6><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></h6>
        </div>
        <div class="modal-body">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"><h6>Descripción del Proyecto</h6></label>
          </div>
          <div class="mb-3">
            <label for="formFileSm" class="form-label"><h6>Imagen del proyecto</h6></label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label"><h6>URL del proyecto</h6></label>
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
      </div>
      </div>

  