<!--Educacion-->
<section id="educacion" class="educacion">
    <div class="edu">
      <h2><strong>Educación <app-add-edu></app-add-edu></strong></h2>
      <div class="divider"></div>
    </div>
    <div class="container text-center">
       <div class="row" *ngFor="let educacion of estudio">
        <div class="col-2">
        </div>
        <div class="col-2"><img [src]="educacion.logo " class="w-75 imglogo" alt="allegro"></div>
        <div class="col-7"><h4>{{educacion.institucion}}</h4><app-delete></app-delete><app-education-edit></app-education-edit>
          <ul>
            <li>{{educacion.titulo1}}</li>
          </ul>
        </div>
        <div class="col-1"></div>
      </div> <br>
      </div>

