<!--Habilidades-->

<section id="habilidades" class="skills">
    <div class="edu">
      <h2><strong>Habilidades </strong><app-add-skills></app-add-skills></h2>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <h4>Habilidades Técnicas</h4><br>
        <div class="habilidad-tec" *ngFor="let habilidad of tecnica">
          <h6>{{habilidad.nombre}}</h6><app-delete></app-delete><app-skills-edit></app-skills-edit>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" [style.width.%]="habilidad.porcentaje" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{habilidad.porcentaje}}%</div>
        </div><br>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <h4>Idiomas</h4>
        <div class="idiomas" *ngFor="let idiom of idioma">
          <h6>{{idiom.nombre}}</h6><app-delete></app-delete><app-skills-edit></app-skills-edit>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Basic example" [style.width.%]="idiom.porcentaje" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{idiom.porcentaje}}%</div>
        </div><br>
        </div>
        <h4>Habilidades Blandas</h4><br>
        <div class="soft-habilities" *ngFor="let habilidad of soft" >
          <h6>{{habilidad.nombre}}</h6><app-delete></app-delete><app-skills-edit></app-skills-edit>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Basic example" [style.width.%]="habilidad.porcentaje" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{habilidad.porcentaje}}%</div>
          </div><br>
        </div>
        <div class="col-1"></div>
        </div>
    </div>
  </section>
  
