<!-- Button trigger modal Experiencia laboral-->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#experienciaLaboral">
    <i class="fa-solid fa-square-plus"></i>
  </button>
  
  <!-- Modal experiencia laboral -->
  <div class="modal fade" id="experienciaLaboral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo empleo</h5>
          <h6><button type="button" class="btn-close" (click)="limpiar()" data-bs-dismiss="modal" aria-label="Close"></button></h6>
        </div>
        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
          <div class="modal-body">
            <div class="mb-3">
              <label for="formFileSm" class="form-label"><h6>Seleccionar Logo</h6></label>
              <input class="form-control form-control-sm" id="formFileSm" type="file" [(ngModel)]="logo">
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Empresa</span>
              <input type="text" [(ngModel)]="institucion" formControlName="empresa" [class.border-danger]="EmpresaValid" class="form-control"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Empresa?.errors  && Empresa?.touched">    
              <h6 *ngIf="Empresa?.hasError('required')" class="error">
                  El Nombre de la empresa es requerido.
              </h6>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Periodo de trabajo</span>
              <input type="text" formControlName="periodo" [class.border-danger]="PeriodoValid" class="form-control" [(ngModel)]="periodo" placeholder="Ej: año - año" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Periodo?.errors  && Periodo?.touched">    
              <h6 *ngIf="Periodo?.hasError('required')" class="error">
                  El periodo de tiempo es requerido.
              </h6>
          </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Puesto</span>
              <input type="text" class="form-control" [(ngModel)]="puesto" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="limpiar()" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

