 <!-- Button trigger modal editar -->
 <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editar">
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  
  <!-- Modal editar-->
  <div class="modal fade" id="editar" tabindex="-1" aria-labelledby="editarLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editar">Editar contenido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
            <div class="modal-body">
              <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Selecciona una nueva imagen</label>
                  <input class="form-control" type="file" id="formFileMultiple" multiple>
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Título/Certificado</span>
                <input type="text" formControlName="titulo" [class.border-danger]="TituloValid" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div *ngIf="Titulo?.errors  && Titulo?.touched">    
                <p *ngIf="Titulo?.hasError('required')" class="error">
                    El Título/Certificado es requerido.
                </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          </div>
          </form>
      </div>
    </div>
  </div>