body {
    margin: 0;
    background: rgb(24, 24, 26);
}

.divider{
    height: 4px;
    width: 60px;
    background-color: rgb(165, 42, 73);
    margin-top: 10px;
    margin-bottom: 2em;

}

.row{
    color: white;
}

.edu{
    color: white;
    padding: 5em ;
    margin-left: 5em;
    }

.edu h2{
        font-size: 2.5em;
    }