<!-- Button trigger modal Habilidades-->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Habilidades">
    <i class="fa-solid fa-square-plus"></i>
  </button>
  <!-- Modal habilidades -->
  <div class="modal fade" id="Habilidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nueva habilidad</h5>
          <h6><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></h6>
        </div>
        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">
          <div class="modal-body">
            <select class="form-select" aria-label="Default select example" formControlName="habilidad" [class.border-danger]="HabilidadValid">
              <option value="1">Habilidad técnica</option>
              <option value="2">Habilidades blandas</option>
              <option value="3">Idiomas</option>
            </select>
            <div *ngIf="Habilidad?.errors  && Habilidad?.touched">
              <h6 *ngIf="Habilidad?.hasError('required')" class="error">
                Elegir un campo es requerido.
              </h6>
            </div>
            <br>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Habilidad</span>
              <input type="text" formControlName="nombre" [class.border-danger]="NombreValid" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Nombre?.errors  && Nombre?.touched">
              <h6 *ngIf="Nombre?.hasError('required')" class="error">
                Elegir una habilidad es requerido.
              </h6>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Rango</span>
              <input type="text" formControlName="rango" [class.border-danger]="RangoValid" class="form-control" placeholder="(un número del 0 al 100)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div *ngIf="Rango?.errors  && Rango?.touched">
              <h6 *ngIf="Rango?.hasError('required')" class="error">
                El número es requerido.
              </h6>
              <h6 *ngIf="Rango?.errors?.['min']
          " class="error">
                El número debe ser mayor a 0.
            </h6>
            <h6 *ngIf="Rango?.errors?.['max']
          " class="error">
                El número debe ser menor o igual a 100.
            </h6>
            </div>
            </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
        
      </div>
      </div>
